@media #{$xsmall-up} {
	.xsmall-align-left {
		text-align: left;
	}
	.xsmall-align-center {
		text-align: center;
	}
	.xsmall-align-right {
		text-align: right;
	}
	.xsmall-left {
		float: left;
	}
	.xsmall-none {
		float: none;
	}
	.xsmall-right {
		float: right;
	}
}

@media #{$small-up} {
	.small-align-left {
		text-align: left;
	}
	.small-align-center {
		text-align: center;
	}
	.small-align-right {
		text-align: right;
	}
	.small-left {
		float: left;
	}
	.small-none {
		float: none;
	}
	.small-right {
		float: right;
	}
}


@media #{$medium-up} {
	.medium-align-left {
		text-align: left;
	}
	.medium-align-center {
		text-align: center;
	}
	.medium-align-right {
		text-align: right;
	}
	.medium-left {
		float: left;
	}
	.medium-none {
		float: none;
	}
	.medium-right {
		float: right;
	}
}

@media #{$large-up} {
	.large-align-left {
		text-align: left;
	}
	.large-align-center {
		text-align: center;
	}
	.large-align-right {
		text-align: right;
	}
	.large-left {
		float: left;
	}
	.large-none {
		float: none;
	}
	.large-right {
		float: right;
	}
}

@media #{$xlarge-up} {
	.xlarge-align-left {
		text-align: left;
	}
	.xlarge-align-center {
		text-align: center;
	}
	.xlarge-align-right {
		text-align: right;
	}
	.xlarge-left {
		float: left;
	}
	.xlarge-none {
		float: none;
	}
	.xlarge-right {
		float: right;
	}
}

