@media #{$xsmall-up} {
	.columns, .column {
		margin: 0 0 20px;
		padding: 0 1.07143rem;
		float: left;
		&:last-child {
			margin-bottom: 0;
		}
		&:last-child:not(:first-child):not(.end) {
			float: right;
		}
	}
	.row {
		max-width: 85.71429rem;
		margin: 0 auto 20px;
		.row {
			margin-right: -1.07143rem;
			margin-left: -1.07143rem;
		}
		&.expanded {
			max-width: none;
		}
		&:last-child {
			margin-bottom: 0;
		}
		&:after {
			content: '';
			display: table;
			width: 100%;
			clear: both;
		}
	}
	.vertical-center {
	    display: table;
	    width: 100%;
	    height: 100%;
	    margin: 0;
	    padding: 0;
	    & > .center {
	        display: table-cell;
	        vertical-align: middle;
	    }
	}
}
