$xsmall-up: 'only screen';
$xsmall-only: 'only screen and (max-width: 25em)';
$small-up: 'only screen and (min-width: 25.063em)';
$small-only: 'only screen and (min-width: 25.063em) and (max-width: 40em)';
$medium-up: 'only screen and (min-width: 40.063em)';
$medium-only: 'only screen and (min-width: 40.063em) and (max-width: 64em)';
$large-up: 'only screen and (min-width: 64.063em)';
$large-only: 'only screen and (min-width: 64.063em) and (max-width: 90em)';
$xlarge-up: 'only screen and (min-width: 90.063em)';
