.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    min-height: 70px;
    background: #000;
    .logo {
    	display: block;
    	margin: 0;
    	padding: 0;
    	img {
    		display: block;
    		max-width: 100%;
    		margin: 0;
    		padding: 0;
    	}
    }
}
