#cookieWarning {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 0;
    padding-top: 5px;
    border-bottom: 1px solid #ccc;
    background: $c-accent;
    box-sizing: border-box;
    opacity: 0;
    overflow: hidden;
    visibility: hidden;
    text-align: center;
    transition: 0.4s all ease;
    & > * {
        display: inline-block;
        vertical-align: middle;
        margin: 0;
        padding: 0;
        color: #000;
        font-family: $font-std;
        font-size: 10px;
        font-weight: 400;
        line-height: 120%;
    }
    p {
        display: none;
    }
    strong {
        font-weight: 700;
    }
    p, strong {
        padding-top: 2px;
    }
    .cookie-btn {
        margin-left: 10px;
        padding: 5px;
        color: #000;
        line-height: 100%;
        transition: 0.4s all ease;
        &:hover {
            cursor: pointer;
        }
    }
    @media screen and (min-width: 1020px) {
        padding-top: 12px;
        & > * {
            font-size: 13px;
        }
    }
    @media screen and (min-width: 800px) {
        p {
            display: inline-block;
        }
    }
    @media #{$medium-up} {
        padding-top: 2px;
    }
}

body {
    &.cookie-inited {
        #wrapper, .header, .nav-prim-mobile {
            margin-top: 50px;
            transition: 0.4s all ease;
        }
        #cookieWarning {
            height: 50px;
            opacity: 1;
            visibility: visible;
        }
        &.no-cookie {
            #wrapper, .header, .nav-prim-mobile {
                margin-top: 0;
            }
            #cookieWarning {
                height: 0;
                opacity: 0;
                visibility: hidden;
            }
        }
    }
}
