$xsmall-up: 'only screen';
$xsmall-only: 'only screen and (max-width: 25em)';
$small-up: 'only screen and (min-width: 25.063em)';
$small-only: 'only screen and (min-width: 30.063em) and (max-width: 40em)';
$medium-up: 'only screen and (min-width: 40.063em)';
$medium-only: 'only screen and (min-width: 40.063em) and (max-width: 64em)';
$large-up: 'only screen and (min-width: 64.063em)';
$large-only: 'only screen and (min-width: 64.063em) and (max-width: 90em)';
$xlarge-up: 'only screen and (min-width: 90.063em)';

@media #{$xsmall-up} {
	.columns, .column {
		margin: 0 0 20px;
		padding: 0 1.07143rem;
		&:last-child {
			margin-bottom: 0;
		}
		&.xsmall-1 {
			width: 8.33333%;
		}
		&.xsmall-2 {
			width: 16.66667%;
		}
		&.xsmall-3 {
			width: 25%;
		}
		&.xsmall-4 {
			width: 33.33333%;
		}
		&.xsmall-5 {
			width: 41.66667%;
		}
		&.xsmall-6 {
			width: 50%;
		}
		&.xsmall-7 {
			width: 58.33333%;
		}
		&.xsmall-8 {
			width: 66.66667%;
		}
		&.xsmall-9 {
			width: 75%;
		}
		&.xsmall-10 {
			width: 83.33333%;
		}
		&.xsmall-11 {
			width: 91.66667%;
		}
		&.xsmall-12 {
			width: 100%;
		}
	}
	.row {
		max-width: 85.71429rem;
		margin: 0 -1.07143rem 20px;
		&.expanded {
			max-width: 0;
		}
		&:last-child {
			margin-bottom: 0;
		}
	}
	.xsmall-up-visible {
		display: block;
	}
	.xsmall-up-hidden {
		display: none;
	}
	.small-up-visible {
		display: none;
	}
	.small-up-hidden {
		display: block;
	}
	.medium-up-visible {
		display: none;
	}
	.medium-up-hidden {
		display: block;
	}
	.large-up-visible {
		display: none;
	}
	.large-up-hidden {
		display: block;
	}
	.xlarge-up-visible {
		display: none;
	}
	.xlarge-up-hidden {
		display: block;
	}
}

@media #{$xsmall-only} {
	.xsmall-only-visible {
		display: block;
	}
	.xsmall-only-hidden {
		display: none;
	}
	.small-only-visible {
		display: none;
	}
	.small-only-hidden {
		display: block;
	}
	.medium-only-visible {
		display: none;
	}
	.medium-only-hidden {
		display: block;
	}
	.large-only-visible {
		display: none;
	}
	.large-only-hidden {
		display: block;
	}
	.xlarge-only-visible {
		display: none;
	}
	.xlarge-only-hidden {
		display: block;
	}
}

@media #{$small-up} {
	.columns, .column {
		&:last-child {
			margin-bottom: 0;
		}
		&.small-1 {
			width: 8.33333%;
		}
		&.small-2 {
			width: 16.66667%;
		}
		&.small-3 {
			width: 25%;
		}
		&.small-4 {
			width: 33.33333%;
		}
		&.small-5 {
			width: 41.66667%;
		}
		&.small-6 {
			width: 50%;
		}
		&.small-7 {
			width: 58.33333%;
		}
		&.small-8 {
			width: 66.66667%;
		}
		&.small-9 {
			width: 75%;
		}
		&.small-10 {
			width: 83.33333%;
		}
		&.small-11 {
			width: 91.66667%;
		}
		&.small-12 {
			width: 100%;
		}
	}
	.xsmall-up-visible {
		display: block;
	}
	.xsmall-up-hidden {
		display: none;
	}
	.small-up-visible {
		display: block;
	}
	.small-up-hidden {
		display: none;
	}
	.medium-up-visible {
		display: none;
	}
	.medium-up-hidden {
		display: block;
	}
	.large-up-visible {
		display: none;
	}
	.large-up-hidden {
		display: block;
	}
	.xlarge-up-visible {
		display: none;
	}
	.xlarge-up-hidden {
		display: block;
	}
}

@media #{$small-only} {
	.xsmall-only-visible {
		display: none;
	}
	.xsmall-only-hidden {
		display: block;
	}
	.small-only-visible {
		display: block;
	}
	.small-only-hidden {
		display: none;
	}
	.medium-only-visible {
		display: none;
	}
	.medium-only-hidden {
		display: block;
	}
	.large-only-visible {
		display: none;
	}
	.large-only-hidden {
		display: block;
	}
	.xlarge-only-visible {
		display: none;
	}
	.xlarge-only-hidden {
		display: block;
	}
}

@media #{$medium-up} {
	.columns, .column {
		&:last-child {
			margin-bottom: 0;
		}
		&.medium-1 {
			width: 8.33333%;
		}
		&.medium-2 {
			width: 16.66667%;
		}
		&.medium-3 {
			width: 25%;
		}
		&.medium-4 {
			width: 33.33333%;
		}
		&.medium-5 {
			width: 41.66667%;
		}
		&.medium-6 {
			width: 50%;
		}
		&.medium-7 {
			width: 58.33333%;
		}
		&.medium-8 {
			width: 66.66667%;
		}
		&.medium-9 {
			width: 75%;
		}
		&.medium-10 {
			width: 83.33333%;
		}
		&.medium-11 {
			width: 91.66667%;
		}
		&.medium-12 {
			width: 100%;
		}
	}
	.xsmall-up-visible {
		display: block;
	}
	.xsmall-up-hidden {
		display: none;
	}
	.small-up-visible {
		display: block;
	}
	.small-up-hidden {
		display: none;
	}
	.medium-up-visible {
		display: block;
	}
	.medium-up-hidden {
		display: none;
	}
	.large-up-visible {
		display: none;
	}
	.large-up-hidden {
		display: block;
	}
	.xlarge-up-visible {
		display: none;
	}
	.xlarge-up-hidden {
		display: block;
	}
}

@media #{$medium-only} {
	.xsmall-only-visible {
		display: none;
	}
	.xsmall-only-hidden {
		display: block;
	}
	.small-only-visible {
		display: none;
	}
	.small-only-hidden {
		display: block;
	}
	.medium-only-visible {
		display: block;
	}
	.medium-only-hidden {
		display: none;
	}
	.large-only-visible {
		display: none;
	}
	.large-only-hidden {
		display: block;
	}
	.xlarge-only-visible {
		display: none;
	}
	.xlarge-only-hidden {
		display: block;
	}
}

@media #{$large-up} {
	.columns, .column {
		&:last-child {
			margin-bottom: 0;
		}
		&.large-1 {
			width: 8.33333%;
		}
		&.large-2 {
			width: 16.66667%;
		}
		&.large-3 {
			width: 25%;
		}
		&.large-4 {
			width: 33.33333%;
		}
		&.large-5 {
			width: 41.66667%;
		}
		&.large-6 {
			width: 50%;
		}
		&.large-7 {
			width: 58.33333%;
		}
		&.large-8 {
			width: 66.66667%;
		}
		&.large-9 {
			width: 75%;
		}
		&.large-10 {
			width: 83.33333%;
		}
		&.large-11 {
			width: 91.66667%;
		}
		&.large-12 {
			width: 100%;
		}
	}
	.xsmall-up-visible {
		display: block;
	}
	.xsmall-up-hidden {
		display: none;
	}
	.small-up-visible {
		display: block;
	}
	.small-up-hidden {
		display: none;
	}
	.medium-up-visible {
		display: block;
	}
	.medium-up-hidden {
		display: none;
	}
	.large-up-visible {
		display: block;
	}
	.large-up-hidden {
		display: none;
	}
	.xlarge-up-visible {
		display: none;
	}
	.xlarge-up-hidden {
		display: block;
	}
}

@media #{$large-only} {
	.xsmall-only-visible {
		display: none;
	}
	.xsmall-only-hidden {
		display: block;
	}
	.small-only-visible {
		display: none;
	}
	.small-only-hidden {
		display: block;
	}
	.medium-only-visible {
		display: none;
	}
	.medium-only-hidden {
		display: block;
	}
	.large-only-visible {
		display: block;
	}
	.large-only-hidden {
		display: none;
	}
	.xlarge-only-visible {
		display: none;
	}
	.xlarge-only-hidden {
		display: block;
	}
}

@media #{$xlarge-up} {
	.columns, .column {
		&:last-child {
			margin-bottom: 0;
		}
		&.xlarge-1 {
			width: 8.33333%;
		}
		&.xlarge-2 {
			width: 16.66667%;
		}
		&.xlarge-3 {
			width: 25%;
		}
		&.xlarge-4 {
			width: 33.33333%;
		}
		&.xlarge-5 {
			width: 41.66667%;
		}
		&.xlarge-6 {
			width: 50%;
		}
		&.xlarge-7 {
			width: 58.33333%;
		}
		&.xlarge-8 {
			width: 66.66667%;
		}
		&.xlarge-9 {
			width: 75%;
		}
		&.xlarge-10 {
			width: 83.33333%;
		}
		&.xlarge-11 {
			width: 91.66667%;
		}
		&.xlarge-12 {
			width: 100%;
		}
	}
	.xlarge-up-visible {
		display: block;
	}
	.xlarge-up-hidden {
		display: none;
	}
	.xsmall-up-visible {
		display: block;
	}
	.xsmall-up-hidden {
		display: none;
	}
	.small-up-visible {
		display: block;
	}
	.small-up-hidden {
		display: none;
	}
	.medium-up-visible {
		display: block;
	}
	.medium-up-hidden {
		display: none;
	}
	.large-up-visible {
		display: block;
	}
	.large-up-hidden {
		display: none;
	}
	.xlarge-up-visible {
		display: block;
	}
	.xlarge-up-hidden {
		display: none;
	}


	.xlarge-only-visible {
		display: block;
	}
	.xlarge-only-hidden {
		display: none;
	}
	.xsmall-only-visible {
		display: none;
	}
	.xsmall-only-hidden {
		display: block;
	}
	.small-only-visible {
		display: none;
	}
	.small-only-hidden {
		display: block;
	}
	.medium-only-visible {
		display: none;
	}
	.medium-only-hidden {
		display: block;
	}
	.large-only-visible {
		display: none;
	}
	.large-only-hidden {
		display: block;
	}
	.xlarge-only-visible {
		display: block;
	}
	.xlarge-only-hidden {
		display: none;
	}
}

