@font-face {
  font-family: 'icomoon';
  src:  url('/src/fonts/icomoon.eot?qptdv6');
  src:  url('/src/fonts/icomoon.eot?qptdv6#iefix') format('embedded-opentype'),
    url('/src/fonts/icomoon.ttf?qptdv6') format('truetype'),
    url('/src/fonts/icomoon.woff?qptdv6') format('woff'),
    url('/src/fonts/icomoon.svg?qptdv6#icomoon') format('svg');
  font-style: normal;
  font-weight: normal;
}

[class^='icon-'], [class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  speak: none;
  font-family: 'icomoon' !important;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  text-transform: none;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

//icons
.icon-snapchat:before {
  content: '\e901';
}
.icon-youtube-play-button:before {
  content: '\e902';
}
.icon-instagram-social-network-logo-of-photo-camera:before {
  content: '\e903';
}
.icon-facebook-letter-logo:before {
  content: '\e904';
}
.icon-left-arrow:before {
  content: '\e907';
}
.icon-right-arrow:before {
  content: '\e908';
}
.icon-downwards-pointer:before {
  content: '\e900';
}
.icon-star:before {
  content: '\e905';
}
.icon-cross:before {
  content: '\e906';
}

